.professional-experience {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 80px;

    .section-heading {
        align-self: center;
    }

    .resume-link {
        margin-top: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #e63946;

        &:hover {
            text-decoration: underline;
        }
    }

    .experience-card {
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        padding: 0px 30px;
        max-width: 700px;
    }

    .experience-card {
        h3 {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }

    .experience-title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .experience-card ul {
        list-style: disc inside;
        padding-left: 0;
        margin: 0;
    }

    .experience-card li {
        margin-bottom: 12px;
        line-height: 1.6;
    }



    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        font-weight: 500px;
    }

    .my-resume {
        padding: 25px 45px;
        border-radius: 50px;
        background: linear-gradient(135deg, #E63946 0%, #9B2226 100%);
        padding: 16px 32px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.2s ease all;
    }

    .my-resume:hover {
        transform: scale(1.05);
        transition: 0.2s ease all;
    }

}