.about {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 80px;

    p {
        width: 50%;
        text-align: center;
        font-size: 24px;
    }
}

@media(max-width: 768px) {
    .about p {
        width: 100%;
        font-size: 18px;
    }
}