.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px;

    .contact-title {
        position: relative;

        h1 {
            padding: 0px 30px;
            font-size: 80px;
            font-weight: 600;
        }
    }

    .contact-section {
        display: flex;
        gap: 150px;

        .contact-left {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h1 {
                font-size: 80px;
                font-weight: 700;
            }

            p {
                max-width: 550px;
                color: #d8d8d8;
                font-size: 20px;
                line-height: 35px;
            }
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #d8d8d8;
            font-size: 22px;

            .contact-detail {
                display: flex;
                align-items: center;
                gap: 20px;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }


            }
        }

        .contact-right {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 16px;

            .form-group {
                width: 700px;
            }

            input {
                height: 50px;
                padding: 0px 20px;
            }

            textarea {
                padding: 20px;
            }

            input,
            textarea {
                border: none;
                width: 100%;
                border-radius: 4px;
                background: #32323c;
                color: #a0a0a0;
                font-size: 20px;
                margin-bottom: 4px;
                box-sizing: border-box;
            }

            .error {
                height: 16px;
                visibility: hidden;
            }

            .error.active {
                visibility: visible;
            }

            input:focus~.floating-label,
            input:not(:focus):valid~.floating-label {
                top: 8px;
                bottom: 10px;
                left: 20px;
                font-size: 11px;
                opacity: 1;
            }

            .inputText {
                font-size: 14px;
                width: 200px;
                height: 35px;
            }

            .floating-label {
                position: absolute;
                pointer-events: none;
                left: 20px;
                top: 18px;
                transition: 0.2s ease all;
            }

            .submit {
                border: none;
                color: white;
                border-radius: 50px;
                font-size: 22px;
                margin-bottom: 50px;
                cursor: pointer;
                transition: 0.3s;
            }

            .submit:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
    }
}

@media(max-width: 1200px) {
    .contact .contact-section {
        flex-direction: column;
        gap: 50px;
    }
}

@media(max-width: 768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;

        .contact-title {

            h1 {
                font-size: 50px;
                padding: 0;
            }
        }

        .contact-section {
            flex-direction: column;
            gap: 50px;

            .contact-left {
                align-items: center;

                h1 {
                    font-size: 50px;
                }

                p {
                    font-size: 18px;
                    text-align: center;
                }
            }

            .contact-right {
                align-items: center;

                .form-group {
                    width: 75%;
                }

                input,
                textarea {
                    width: 100%;
                }
            }
        }
    }
}