.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: rgba(40, 40, 40, 0.95);
    position: sticky;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    /*TODO maybe add variables file for font sizes*/

    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .nav-contact {
        display: none;
    }
}

.nav-connect {
    border-radius: 60px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px 16px;
    display: inline-block;

    a {
        text-decoration: none;
        color: white;
        display: block;
    }
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-mob-open,
.nav-mob-close {
    display: none;
}


@media(max-width: 768px) {

    .nav-menu {
        .nav-contact {
            display: block;
        }
    }

    .navbar {
        padding: 0;
        position: relative;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open,
    .nav-mob-close {
        visibility: visible;
        cursor: pointer;
        font-size: 30px;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        left: 30px;
        top: 30px;
    }

    .nav-mob-close {
        display: block;
        top: 30px;
        align-self: flex-end;
        width: 30px;
        margin-right: 30px;
        margin-top: 30px;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        background: rgba(40, 40, 40, 0.95);
        // background: #1f0016;
        gap: 0;
        width: 70%;
        height: 100%;
        z-index: 2;
        transition: left 0.5s;
        left: -100%;
    }

    .nav-menu li:not(:first-child) {
        margin-top: 30px;
    }

    .nav-menu {

        li {
            font-size: 30px;
            line-height: 30px;
            padding-left: 50px;
            flex-direction: row;
        }
    }
}