.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: rgba(40, 40, 40, 0.95);
    position: sticky;
    top: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    /*TODO maybe add variables file for font sizes*/

    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.nav-connect {
    border-radius: 60px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px 16px;
    display: inline-block;

    a {
        text-decoration: none;
        color: white;
        display: block;
    }
}

.nav-connect:hover {
    transform: scale(1.05);
}

@media(max-width: 768px) {

    .nav-connect {
        display: none;
    }
}