@use './styles.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a1a;
  color: white;
  font-family: 'outfit';
  width: 100%;
  max-width: 100%;
}

@media(max-width: 768px) {
  body {
    padding: 0px 16px;
  }
}